
a{
    text-decoration: none;
    color: black;
}

body{
    font-family: 'Inter', sans-serif;
    margin: 0;
}

h1{
    font-family: 'Noto Serif JP', sans-serif;
    letter-spacing: -0.5px;
    font-weight: 900;
}


.korean{
    display: none;
}

.header{
    background: #F42C50;
    background: #f31941;
    padding: 80px 0 30px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;

    //border-top: 10px solid black;
    color: white;

    #logo{
        width: 400px;
    }
    h4{
        font-size: 14px;
        font-weight: 400;
        color: rgba(white, 0.6);
        margin: 0;
    }
    p{
        font-family: 'Noto Serif JP', sans-serif;
        font-size: 13px;
        font-weight: 100;
        margin: 0;
        margin-top: 10px;
        padding: 4px 8px 8px 8px;
        border-top: 1px solid rgba(white, 0.5);
        border-bottom: 1px solid rgba(white, 0.5);
    }
}

#triangle{
    width: 100vw;
    height: 5.2vw;

    display: flex;
    flex-direction: column;
    path{
        fill: #f31941;
    }
}

.articles{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    margin: auto;
    gap: 20px;
    padding: 20px;
    padding-top: 40px;

    a{
        flex: 1 0 calc(33% - 15px);
        //width: 20%;
        flex-grow: 0;
        margin-bottom: 40px;

        &:first-child{
            flex: 1 0 calc(100% - 15px);
            .article{
                display: flex;
                gap: 25px;
                .thumbnail{
                    width: 40%;
                    aspect-ratio: 16 / 9;
                    flex-shrink: 0;
                }
                .expo{
                    margin-top: 8px;
                    h1{
                        font-size: 36px;
                        font-weight: 900;
                        letter-spacing: -1px;
                    }
                    h3{
                        margin-top: 20px;
                    }
                }
            }
        }

        &.inactive{
            display: none;
        }
    }

    .article{
        width: 100%;
        transition: 0.2s ease;

        .thumbnail{
            width: 100%;
            border-radius: 5px;
            box-shadow: 0 5px 20px rgba(black, 0.25);
            aspect-ratio: 16 / 9;
            background-size: 100%;
            background-position: 50% 50%;
            transition: 0.2s ease;
            background-color: black;
        }

        .tags{
            display: flex;
            gap: 10px;
            padding: 20px 0;
            .tag{
                background: rgba(black, 0.1);
                padding: 6px 8px;
                border-radius: 16px;

                display: flex;
                align-items: center;
                gap: 5px;

                opacity: 0.5;

                .icon{
                    height: 12px;
                    border-radius: 10px;
                }
                p{
                    font-family: 'Inter', sans-serif;
                    font-size: 12px;
                    font-weight: 600;
                    letter-spacing: -0.2px;
                    margin: 0;
                }
            }
        }

        .expo{
            margin-top: 18px;
            h4{
                font-size: 14px;
                font-weight: 500;
                letter-spacing: -0.3px;
                margin: 0;
                color: #ff3030;
            }
            h1{
                font-size: 24px;
                line-height: 110%;
                //color: rgba(black, 0.5);
                margin: 5px 0 20px 0;
                transition: 0.2s ease;
                span{
                    color: black;
                }
            }
            h2{
                font-size: 12px;
                font-weight: 500;
                letter-spacing: -0.2px;
                padding: 8px 12px;
                border-radius: 15px;
                color: rgba(black, 0.5);
                background: rgba(black, 0.05);
                width: fit-content;
            }
            h3{
                font-size: 14px;
                font-weight: 600;
                letter-spacing: -0.32px;
                margin: 0;
                color: rgba(black, 0.4);
            }
            p{
                font-family: 'Noto Serif JP', sans-serif;
                font-weight: 500;
                font-size: 14px;
                letter-spacing: -0.18px;
                margin: 0;
            }
            .flags{
                display: flex;
                gap: 5px;
                .flag{
                    width: 32px;
                    //border: 1px solid rgba(black, 0.1);
                    box-shadow: 0 2px 5px rgba(black, 0.1);
                    border-radius: 2px;
                }
            }
        }

        &.inactive{
            opacity: 0.5;
            pointer-events: none;
            filter: blur(2px);
            display: none;
        }

        &:hover{
            .thumbnail{
                background-size: 102%;
            }
            .expo{
                h1{
                    color: rgba(black, 1);
                }
            }
        }
    }
}

