
a{
    text-decoration: none;
    color: black;
}

body{
    font-family: 'Inter', sans-serif;
}

h1{
    font-family: 'Noto Serif JP', sans-serif;
    letter-spacing: -0.5px;
    font-weight: 900;
}


.articles{
    display: flex;
    gap: 60px;
    padding: 50px;

    .article{
        width: 260px;
        transition: 0.2s ease;

        .thumbnail{
            width: 260px;
            border-radius: 8px;
            box-shadow: 0 10px 25px rgba(black, 0.2);
            border: 1px solid white;
        }
        .expo{
            h1{
                font-size: 24px;
                line-height: 110%;
                color: rgba(black, 0.5);
                margin-bottom: 30px;
                transition: 0.2s ease;
                span{
                    color: black;
                }
            }
            h2{
                font-size: 12px;
                font-weight: 500;
                letter-spacing: -0.2px;
                padding: 8px 12px;
                border-radius: 15px;
                color: rgba(black, 0.5);
                background: rgba(black, 0.05);
                width: fit-content;
            }
            .flags{
                display: flex;
                gap: 5px;
                .flag{
                    width: 36px;
                    border: 1px solid rgba(black, 0.1);
                    border-radius: 3px;
                }
            }
        }

        &:hover{
            .expo{
                h1{
                    color: rgba(black, 1);
                }
            }
        }
    }
}

