a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

h1 {
  font-family: "Noto Serif JP", sans-serif;
  letter-spacing: -0.5px;
  font-weight: 900;
}

.korean {
  display: none;
}

.header {
  background: #F42C50;
  background: #f31941;
  padding: 80px 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  color: white;
}
.header #logo {
  width: 400px;
}
.header h4 {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}
.header p {
  font-family: "Noto Serif JP", sans-serif;
  font-size: 13px;
  font-weight: 100;
  margin: 0;
  margin-top: 10px;
  padding: 4px 8px 8px 8px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#triangle {
  width: 100vw;
  height: 5.2vw;
  display: flex;
  flex-direction: column;
}
#triangle path {
  fill: #f31941;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  margin: auto;
  gap: 20px;
  padding: 20px;
  padding-top: 40px;
}
.articles a {
  flex: 1 0 calc(33% - 15px);
  flex-grow: 0;
  margin-bottom: 40px;
}
.articles a:first-child {
  flex: 1 0 calc(100% - 15px);
}
.articles a:first-child .article {
  display: flex;
  gap: 25px;
}
.articles a:first-child .article .thumbnail {
  width: 40%;
  aspect-ratio: 16/9;
  flex-shrink: 0;
}
.articles a:first-child .article .expo {
  margin-top: 8px;
}
.articles a:first-child .article .expo h1 {
  font-size: 36px;
  font-weight: 900;
  letter-spacing: -1px;
}
.articles a:first-child .article .expo h3 {
  margin-top: 20px;
}
.articles a.inactive {
  display: none;
}
.articles .article {
  width: 100%;
  transition: 0.2s ease;
}
.articles .article .thumbnail {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  aspect-ratio: 16/9;
  background-size: 100%;
  background-position: 50% 50%;
  transition: 0.2s ease;
  background-color: black;
}
.articles .article .tags {
  display: flex;
  gap: 10px;
  padding: 20px 0;
}
.articles .article .tags .tag {
  background: rgba(0, 0, 0, 0.1);
  padding: 6px 8px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
  opacity: 0.5;
}
.articles .article .tags .tag .icon {
  height: 12px;
  border-radius: 10px;
}
.articles .article .tags .tag p {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.2px;
  margin: 0;
}
.articles .article .expo {
  margin-top: 18px;
}
.articles .article .expo h4 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.3px;
  margin: 0;
  color: #ff3030;
}
.articles .article .expo h1 {
  font-size: 24px;
  line-height: 110%;
  margin: 5px 0 20px 0;
  transition: 0.2s ease;
}
.articles .article .expo h1 span {
  color: black;
}
.articles .article .expo h2 {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.2px;
  padding: 8px 12px;
  border-radius: 15px;
  color: rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.05);
  width: -moz-fit-content;
  width: fit-content;
}
.articles .article .expo h3 {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.32px;
  margin: 0;
  color: rgba(0, 0, 0, 0.4);
}
.articles .article .expo p {
  font-family: "Noto Serif JP", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.18px;
  margin: 0;
}
.articles .article .expo .flags {
  display: flex;
  gap: 5px;
}
.articles .article .expo .flags .flag {
  width: 32px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
.articles .article.inactive {
  opacity: 0.5;
  pointer-events: none;
  filter: blur(2px);
  display: none;
}
.articles .article:hover .thumbnail {
  background-size: 102%;
}
.articles .article:hover .expo h1 {
  color: black;
}/*# sourceMappingURL=home.css.map */