html {
  cursor: default;
}

a {
  cursor: pointer;
}

#navbar h3 {
  font-weight: 300;
  letter-spacing: 0.5px;
}

@media screen and (min-width: 800px) {
  #title {
    width: 96%;
    margin: auto;
    margin-top: 60px;
  }
  #title h1 {
    font-weight: 900;
    font-size: 40px;
    margin: 0;
  }
  #title p {
    line-height: 24px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #title .tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #title .tags .tag {
    font-size: 14px;
    margin: 0;
    margin-right: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    border: 1px solid black;
  }
  @-webkit-keyframes zoom-up {
    from {
      -webkit-transform: rotate(-60deg) scale(0.4);
              transform: rotate(-60deg) scale(0.4);
      opacity: 0;
    }
    to {
      -webkit-transform: none;
              transform: none;
      opacity: 1;
    }
  }
  @keyframes zoom-up {
    from {
      -webkit-transform: rotate(-60deg) scale(0.4);
              transform: rotate(-60deg) scale(0.4);
      opacity: 0;
    }
    to {
      -webkit-transform: none;
              transform: none;
      opacity: 1;
    }
  }
  #main {
    max-width: 1800px;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .elem {
    width: 48%;
    max-width: 800px;
    margin: 5px;
  }
  .elem.size-3 {
    width: 32%;
  }
  .elem.size-4 {
    width: 23.5%;
  }
  .elem.size-5 {
    width: 18.5%;
  }
  .elem img {
    opacity: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
    border-radius: 15px;
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-animation-name: zoom-up;
            animation-name: zoom-up;
    -webkit-animation-duration: 0.6s;
            animation-duration: 0.6s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .elem .expo {
    margin-top: 15px;
    margin-left: 5px;
    margin-bottom: 25px;
  }
  .elem .expo h1 {
    font-weight: 800;
    font-size: 24px;
    line-height: 16px;
    margin: 0;
    margin-bottom: 15px;
  }
  .elem .expo p {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin: 0;
    color: rgba(0, 0, 0, 0.5);
  }
  .el {
    width: 200px;
    margin: 15px;
  }
  .el .img {
    opacity: 0;
    width: 200px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
    -webkit-filter: contrast(100%) saturate(150%);
            filter: contrast(100%) saturate(150%);
    border-radius: 10px;
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-animation-name: zoom-up;
            animation-name: zoom-up;
    -webkit-animation-duration: 0.6s;
            animation-duration: 0.6s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .el .expo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 10px;
  }
  .el .expo h1 {
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 16px;
    line-height: 38px;
    margin: 0;
    border-radius: 40px;
    background: rgba(255, 206, 0, 0.9);
    border: 1px solid black;
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    -webkit-transform: translate(-10px, -30px);
            transform: translate(-10px, -30px);
    color: black;
  }
  .el .expo p {
    font-weight: 400;
    width: 80%;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  body {
    padding-bottom: 30px;
  }
  #name {
    margin-right: 15px;
  }
  #main {
    max-width: 1800px;
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #title {
    width: 90vw;
    margin: auto;
    margin-top: 80px;
  }
  #title h1 {
    font-size: 60px;
    margin: 0;
  }
  #title p {
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 25px;
  }
  #title .tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #title .tags .tag {
    font-size: 14px;
    margin: 0;
    margin-right: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    border: 1px solid black;
  }
  @-webkit-keyframes zoom-up {
    from {
      -webkit-transform: rotate(-60deg) scale(0.4);
              transform: rotate(-60deg) scale(0.4);
      opacity: 0;
    }
    to {
      -webkit-transform: none;
              transform: none;
      opacity: 1;
    }
  }
  @keyframes zoom-up {
    from {
      -webkit-transform: rotate(-60deg) scale(0.4);
              transform: rotate(-60deg) scale(0.4);
      opacity: 0;
    }
    to {
      -webkit-transform: none;
              transform: none;
      opacity: 1;
    }
  }
  .elem {
    width: 90vw;
    max-width: 800px;
    margin: auto;
  }
  .elem img {
    opacity: 0;
    width: 90vw;
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
    border-radius: 15px;
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-animation-name: zoom-up;
            animation-name: zoom-up;
    -webkit-animation-duration: 0.6s;
            animation-duration: 0.6s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .elem .expo {
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 25px;
  }
  .elem .expo h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 16px;
    margin: 0;
    margin-bottom: 20px;
  }
  .elem .expo p {
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    margin: 0;
  }
  .el {
    width: 200px;
    margin: 15px;
  }
  .el .img {
    opacity: 0;
    width: 200px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
    -webkit-filter: contrast(100%) saturate(150%);
            filter: contrast(100%) saturate(150%);
    border-radius: 10px;
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-animation-name: zoom-up;
            animation-name: zoom-up;
    -webkit-animation-duration: 0.6s;
            animation-duration: 0.6s;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .el .expo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 10px;
  }
  .el .expo h1 {
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 16px;
    line-height: 38px;
    margin: 0;
    border-radius: 40px;
    background: rgba(255, 206, 0, 0.9);
    border: 1px solid black;
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    -webkit-transform: translate(-10px, -30px);
            transform: translate(-10px, -30px);
    color: black;
  }
  .el .expo p {
    font-weight: 400;
    width: 80%;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
  }
}
/*# sourceMappingURL=page.css.map */