body{


color: white;
font-family: "Open Sans", "Helvetica","Arial", sans-serif;
background-color: orangered;

height: 100vh;

}


.maintitle{

    font-size: 120px;
    text-align: center;
    margin: 0;
}

.subtitle{

    font-size: 80px;
    text-align: center;
    margin: 0;
}