@charset "UTF-8";
/* CSS Document */

body{
	
	background-color: #A90A0D;
	font-family: "Futura", "Arial", serif, sans-serif;
	color: gold;
	text-align: center;
	
}

.navbar{

	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	margin-bottom: 40px;
	
}

.navlink{
	
	margin: 5px;
	background-color: black;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 30px;
	
	transform: scale(1.0);
	text-shadow: 0 0 0px gold;
	
	transition-property: transform, text-shadow;
	transition-timing-function: ease;
	transition-duration: 0.2s;
	
}
.navleft{
	
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
	
}

.navright{
	
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	
}
.navlink:hover{
	
	text-shadow: 0 0 20px gold;
	transform: scale(1.05);
	
}



.maintitle{
	
	text-align: center;
	font-size: 120px;
	margin: 20px;
	
	
}

.title{
	
	margin-bottom: 60px;
	
}

.subtitle{
	
	text-align: center;
	font-size: 30px;
	
	
	
}

.block{
	
	width: 80%;
	margin: auto;
	
}

.big{
	
	text-align: center;
	font-size: 80px;
	margin: 10px;
	
}

.numeral{
	
	text-align: center;
	font-size: 120px;
	margin: auto;
	opacity: 0.6;
	border: 10px solid goldenrod;
	width: 140px;
	border-radius: 50%;
	
	
}

.latin{
	
	font-family: "Times New Roman", "Times", serif;
	
	
}

.sub{
	
	text-align: center;
	opacity: 0.9;
}

.pair{
	
	display: flex;
	justify-content: center;
	
	
}


.medium{
	
	font-size: 40px;
	background-color: #A90A0D;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	
	
}

.abstract{
	
	text-align: center;
	font-size: 30px;
	
}
.wordsec{
	
	background-color: black;
	margin: auto;
	padding: 20px;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	
}

#backarrow{
    position: fixed;
    top: 20px;
    left: 20px;
    transform: scale(1.0);
    opacity: 0.3;

    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.1s;
}

#backarrow:hover{

    transform: scale(1.05);
    opacity: 0.7;
}
