body {
  font-family: Manrope, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  cursor: none;
}

h1 {
  font-family: Newsreader, serif;
  font-weight: 700;
}

a {
  color: black;
  text-decoration: none;
  cursor: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-moz-selection {
  background-color: #ffce00;
  color: black;
}

::selection {
  background-color: #ffce00;
  color: black;
}

@media screen and (min-width: 800px) {
  body {
    padding-bottom: 100px;
  }
  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3;
  }
  #navbar #mast {
    margin-left: 15px;
  }
  #navbar #mast h1 {
    font-size: 25px;
    margin: 0;
  }
  #navbar #nav {
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 30px;
  }
  #navbar #nav h2 {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background: white;
    padding: 7px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #707070;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    margin-left: 15px;
  }
  #navbar #nav h2:hover {
    color: black;
  }
  #canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    pointer-events: none;
  }
  #stage {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  #stage .piece {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    position: absolute;
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-filter: saturate(130%) brightness(105%) contrast(80%);
            filter: saturate(130%) brightness(105%) contrast(80%);
  }
  #stage #rock-1 {
    bottom: 0;
    left: -10vw;
  }
  #stage #rock-2 {
    bottom: 0;
    left: -25vw;
  }
  #stage #rock-3 {
    bottom: 0;
  }
  #stage #adam {
    bottom: 5vh;
    left: 20vw;
  }
  #stage #cloud-1 {
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  #stage #cloud-2 {
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  #stage #cloud-3 {
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  #banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin: 0;
    background-size: cover;
    background-position: 100% 100%;
  }
  #banner #backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(160deg, #c5ffee, white);
  }
  #banner #tagline {
    position: absolute;
    right: 2.5vw;
    bottom: 3vw;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  #banner #tagline h1 {
    font-size: 45px;
    margin-bottom: 20px;
  }
  #banner #tagline p {
    font-size: 18px;
    width: 500px;
    margin: 5px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
  }
  #banner #tagline:hover {
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
  .header {
    margin: auto;
    text-align: center;
    width: 800px;
    margin-top: 100px;
    margin-bottom: 70px;
  }
  .header h1 {
    font-size: 38px;
    margin: 0;
  }
  .header h2 {
    font-size: 18px;
    font-weight: 400;
  }
  .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .item {
    width: 360px;
    padding: 15px;
    border-radius: 10px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .item .img {
    width: 100%;
    height: 180px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    background-size: 100%;
    background-position: center center;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .item .expo {
    margin-top: 15px;
    text-align: center;
  }
  .item .expo .name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .item .expo .name h1 {
    margin: 5px;
    font-size: 22px;
    font-weight: 700;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .item .expo .name span {
    font-size: 20px;
    color: #0074ff;
    border-radius: 20px;
    margin-left: 2px;
    margin-bottom: 3px;
  }
  .item .expo p {
    margin: 0;
    font-size: 15px;
  }
  .item:hover .img {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    background-size: 105%;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px;
    margin-top: 0;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .row .contact img {
    width: 150px;
    border-radius: 20px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .row .contact h2 {
    font-size: 20px;
  }
  .row .contact:hover img {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
}

@media screen and (max-width: 800px) {
  body {
    padding-bottom: 30px;
  }
  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3;
    background: white;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  #navbar #mast {
    margin-left: 15px;
  }
  #navbar #mast h1 {
    font-size: 25px;
  }
  #navbar #nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 15px;
  }
  #navbar #nav h2 {
    font-family: Manrope, serif;
    margin-left: 10px;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  #navbar #nav h2:hover {
    color: black;
  }
  #canvas {
    display: none;
  }
  #banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    width: 100vw;
    height: 95vh;
    margin-top: 0;
    margin-bottom: 80px;
    text-align: center;
    background-image: url("assets/adam3.png");
    background-size: cover;
    background-position: 0% 100%;
    /*
        #tagline{
            background: rgba(white, 0.7);
            padding: 50px;
            border-radius: 30px;
            backdrop-filter: blur(10px);
            border: 1px solid rgba(white, 0.9);
            transition: 0.2s ease;
            h1{
                font-size: 45px;
                margin-bottom: 50px;
            }
            p{
                font-size: 18px;
                width: 600px;
                margin: 5px;
                color: rgba(black, 0.5);
            }
            &:hover{
                backdrop-filter: blur(0px);
            }
        }
        */
  }
  #banner #stage {
    display: none;
  }
  #banner #tagline {
    position: absolute;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    height: 90vw;
    width: 90vw;
    top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #banner #tagline h1 {
    font-size: 35px;
    margin: 0;
    margin-bottom: 10px;
  }
  #banner #tagline p {
    font-size: 16px;
    width: 90vw;
    margin: 5px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.9);
  }
  #banner #tagline:hover {
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
  .header {
    margin: auto;
    text-align: center;
    width: 90vw;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .header h1 {
    font-size: 30px;
    margin: 0;
  }
  .header h2 {
    font-size: 16px;
    font-weight: 400;
  }
  .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .item {
    width: 90vw;
    padding: 15px;
    border-radius: 10px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .item .img {
    width: 100%;
    height: 45vw;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    background-size: cover;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .item .expo {
    margin-top: 15px;
    text-align: center;
  }
  .item .expo .name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .item .expo .name h1 {
    margin: 5px;
    font-size: 22px;
    font-weight: 700;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .item .expo .name span {
    font-size: 20px;
    color: #0074ff;
    border-radius: 20px;
    margin-left: 2px;
    margin-bottom: 3px;
  }
  .item .expo p {
    margin: 0;
    font-size: 15px;
  }
  .item:hover .img {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .row .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 15px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .row .contact img {
    width: 38vw;
    border-radius: 20px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .row .contact h2 {
    display: none;
    font-size: 11px;
  }
  .row .contact:hover img {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
}
/*# sourceMappingURL=style.css.map */