#top{

    #banner{
        background: #d63030;
        background: linear-gradient(110deg, #ae234d, #120000 60%);
    }

    #qing{
        height: 90px !important;
        margin-bottom: 30px !important;
    }

    .statue{
        height: 44vw;
        bottom: -10vw !important;
    }

    #left{
       // height: 35vw;
    }

    #right{
       // height: 33vw;
    }

}


