#top{

    #banner{
        background: #d63030;
        background: linear-gradient(110deg, #3075d6, #000512 60%);
    }

    #qing{
        width: 200px !important;
    }

    .statue{
        height: 40vw;
    }

    #left{
       // height: 35vw;
    }

    #right{
       // height: 33vw;
    }

}

.timetable{
    background: rgba(#111424, 0.99);
}
