


#navbar{

    #banner{
        background: #d63030;
        background: linear-gradient(110deg, #d63030, #100000 60%);
    }


    .statue{
       // height: 35vw;
    }


    #left{
        height: 35vw;
    }

    #right{
        height: 33vw;
    }


}
